//gulp sass:watch

//============================================
//							DOCUMENT FONTS
//============================================

//@import url(../fonts/Ailerons-Typeface.otf);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,800);
@font-face {
	font-family: 'Ailerons';
	src: url('../fonts/Ailerons-Typeface.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Ailerons-Typeface.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../fonts/Ailerons-Typeface.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/Ailerons-Typeface.woff') format('woff'), /* Pretty Modern Browsers */
			 url('../fonts/Ailerons-Typeface.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/Ailerons-Typeface.0tf') format('OpenTypeFormat'),
			 url('../fonts/Ailerons-Typeface.svg#Ailerons') format('svg'); /* Legacy iOS */
}

//============================================
//								VARIABLES
//============================================

$gs-blue: #0F4556;
$gs-green: #91A99C;
$gs-green-o: rgba(145, 169, 156, 0.5);
$gs-beach: #D2DBBD;

$gs-header: 'Ailerons', sans-serif;
$gs-body: 'Open Sans', sans-serif;

//============================================
//								GLOBAL STYLING
//============================================


body {
	color: $gs-blue;
	height: 100%;
	font-family: $gs-body;
	background-color: $gs-beach;
	background-image: url(../img/countourlines-pattern.png);
}

h1 {
	margin-top: 70px;
	color: $gs-blue;
	font-size: 8vw;
	text-align: center;
	font-family: $gs-header;
	@media screen and (min-width: 927px){
		font-size: 5vw;
		margin-top: 20px;
	}
}

h2 {
	color: $gs-blue;
	margin-top: 0;
	text-align: center;
	font-family: $gs-header;
}

h3 {
	color: $gs-blue;
	text-align: center;
	font-family: $gs-header;
}

.btn-close {
	color: $gs-beach;
	width: 50px;
	height: 50px;
	top: 10px;
	right: 10px;
	font-size: 2em;
	position: absolute;
	border: 0;
	border-radius: 50%;
	transition: ease all .3s;
	background-color: $gs-blue;
	&:hover {
		color: $gs-blue;
		background-color: $gs-beach;
	}
	&:focus {
		outline: none;
	}
}

.center {
	display: block;
	margin: auto;
	text-align: center;
}

//============================================
//								NAVIGATION
//============================================

header {
	height: 100%;
	display: block;
}

.header-background {
	width: 100%;
	z-index: 1;
	top: 49px;
	position: relative;
	@media screen and (min-width: 768px){
			top: 0;
		}
}

.navbar {
	width: 100%;
	height: 50px;
	z-index: 5;
	position: fixed;
	border-radius: 0;
	transition: ease all .3s;
	background-color: $gs-beach;
	img {
		z-index: 2;
		display: block;
		margin: auto;
		position: relative;
		margin-top: 10px;
	}
	.triangle {
		width: 0;
		height: 0;
		top: 49px;
		margin-right: -30px;
		right: 50%;
		z-index: 1;
		display: block;
		position: absolute;
		border-style: solid;
		transition: ease all .3s;
		border-width: 20px 30px 0 30px;
		border-color: $gs-beach transparent transparent transparent;
	}
}

.nav-links {
	top: 60px;
	padding: 0;
	width: 100%;
	margin: auto;
	z-index: 6;
	text-align: center;
	list-style: none;
	display: none;
	position: fixed;
	transition: ease all .3s;
	li {
		margin: 0px;
		display: inline-block;
		@media screen and (min-width: 927px){
			margin: 10px;
		}
		a {
			color: $gs-beach;
			margin: 0px;
			width: 130px;
			padding: 0px 14px;
			display: block;
			font-size: 2em;
			font-family: $gs-header;
			text-decoration: none;
			transition: ease all .3s;
			&:hover {
				border-bottom: 3px solid $gs-green;
			}
			@media screen and (min-width: 769px){
				margin: 0 30px;
				padding: 0 4px;
			}
			@media screen and (min-width: 927px){
				margin: 0 30px;
			}
		}
	}
	@media screen and (min-width: 646px){
		display: block;
	}
}

.invert {
	.navbar {
		background-color: $gs-blue;
	}
	.triangle {
		border-color: $gs-blue transparent transparent transparent;
	}
	.nav-links {
		top: 0px;
	}
}

.navbar-toggle {
	float: none;
	margin: 0 auto;
	padding: 0;
}

.collapse.in {
	z-index: 3;
	width: 100%;
	display: block;
//	transition: ease all .3s;
	padding-top: 50px;
	position: fixed;
	background-color: $gs-blue;
}

.nav>li>a {
	color: $gs-beach;
	&:hover {
		color: $gs-blue;
		background-color: $gs-beach;
	}
}

//-------------------------- HOME HEADER SVG
#GS_Medal {
	width: 80%;
	top: 7vw;
	z-index: 2;
	position: absolute;
	display: block;
	margin: 0 auto;
	left: 10%;
	@media screen and (min-width: 478px){
		top: 15vw;
		width: 100%;
		left: 0%;
	}
	@media screen and (min-width: 646px){
		width: 100%;
		right: 0;
	}
}

#GSM-Border,
#Circles,
#GraphicShark-Text{
	opacity: 0;
	animation: reveal .9s linear forwards;
}

#GSM-Background {
	opacity: 0;
	animation: reveal2 .9s linear forwards;
}

#Left_Line,
#RightLine {
	display: none;
	#TopBar,
	#TopBar_1_{
		stroke-dasharray: 500;
		stroke-dashoffset: 500;
		animation: offset .9s ease-in forwards;
		animation-delay: 1s;
	}
	#ShortBar,
	#ShortBar_1_{
		stroke-dasharray: 150;
		stroke-dashoffset: 150;
		animation: offset .7s ease-in forwards;
		animation-delay: 1s;
	}
	#Dash,
	#Dash_1_ {
		stroke-dasharray: 10;
		stroke-dashoffset: 10;
		animation: offset .2s ease-in forwards;
		animation-delay: 1.7s;
	}
	@media screen and (min-width: 646px){
		display: block;
	}

}

#Border {
	#BottomLine,
	#TopLine {
		stroke-dasharray: 270;
		stroke-dashoffset: 270;
		animation: offset .9s ease-in forwards;
		animation-delay: 1s;
	}
	#Dashed,
	#Dashed_1_{
		stroke-dasharray: 95;
		stroke-dashoffset: 95;
		animation: offset .9s ease-in reverse;
		animation-delay: 1s;
	}
}

@keyframes reveal {
	to {
		opacity: 1;
	}
}

@keyframes reveal2 {
	to {
		opacity: 0.5;
	}
}

@keyframes offset {
	to {
		stroke-dashoffset: 0;
	}
}
//============================================
//								MAIN BODY
//============================================

.content {
	color: $gs-blue;
	display: block;
	margin: 10px 0;
	padding: 15px;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
	box-sizing: border-box;
	border: 3px solid $gs-green;
	background: $gs-green-o;
}

//-------------------------- PORTFOLIO ITEMS
.work-item {
	color: $gs-blue;
	display: block;
	margin: 10px 0;
	height: 195px;
	overflow: hidden;
	cursor: pointer;
	box-sizing: border-box;
	background: $gs-green;
	transition: ease all .3s;
	-moz-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.43);
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.43);
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.22);
	@media screen and (min-width: 450px){
		height: 235px;
	}
	.frame {
		width: 100%;
		display: block;
		overflow: hidden;
		img {
			display: block;
			width: 100%;
			min-height: 95px;
			max-height: 95px;
			background-color: #fff;
			@media screen and (min-width: 450px){
				min-height: 150px;
				max-height: 150px;
			}
		}
	}
	h3 {
		margin-top: 5px;
		@media screen and (min-width: 450px){
			margin-top: 20px;
		}
	}
	&:hover {
		color: $gs-green;
		text-decoration: none;
		background-color: $gs-blue;
		h3 {
			margin-top: 5px;
			color: $gs-green;
			@media screen and (min-width: 450px){
				margin-top: 20px;
			}
		}
	}
	&:active,
	&:focus{
		text-decoration: none;
	}
}

//-------------------------- RESUME STYLING
.xp {
	padding: 0;
	list-style: none;
	li {
		padding: 5px 0;
		margin-top: 15px;
		display: block;
		border-bottom: 3px solid $gs-beach;
	}
	img {
		display: block;
	}
	h3 {
		margin-right: 10px;
		font-family: $gs-body;
		display: inline;
	}
	p {
		width: 100%;
	}
	hr {
		margin-top: 5px;
		border-color: $gs-beach;
	}
}

.skills {
	tr td p {
		text-align: center;
		padding: 5px;
		border: 3px solid $gs-green;
		background-color: $gs-beach;
	}
	tr:nth-of-type(1) td{
		border: 0;
	}
	.high:before {
		content: "H";
	}
	.medium:before {
		content: "M";
	}
	.low:before {
		content: "L";
	}
	@media screen and (min-width: 1200px){
		.high:before {
			content: "HIGH";
		}
		.medium:before {
			content: "MEDIUM";
		}
		.low:before {
			content: "LOW";
		}
	}
}

@media screen and (max-width: 767px){
	.table-responsive {
		border: 0;
	}
}


.social {
	padding: 0;
	text-align: center;
	list-style: none;
	li {
		display: inline-block;
		a {
			color: $gs-beach;
			display: block;
			margin: 15px;
			padding: 5px 10px;
			cursor: pointer;
			border: 3px solid $gs-green;
			background: $gs-blue;
			transition: ease all .3s;
			&:hover {
				text-decoration: none;
				color: $gs-blue;
				background: $gs-beach;
			}
		}
	}
}

.modal-body,
.modal-header,
.modal-footer{
	background-color: $gs-beach;
}

//============================================
//				PORTFOLIO MODAL STYLING
//============================================

.modal-content {
	margin: 0;
	padding: 0;
	background-color: #fff;
}
.m-body {
	margin: 0;
	display: block;
	position: relative;
	box-sizing: border-box;
	background-color: #fff;
}

.m-header {
	width: 100%;
}

.m-head {
	text-align: center;
	padding: 0px 15px;
	box-sizing: border-box;
	.tools {
		width: 100%;
		display: block;
		margin: auto;
		text-align: center;
		padding: 0;
		list-style: none;
		li {
			margin: 0 5px;
			padding: 5px 10px;
			border: 5px solid $gs-green;
			display: inline-block;
		}
	}
}

.m-main {
	text-align: left;
	padding: 0px;
	padding-bottom: 15px;
	box-sizing: border-box;
	.m-photo {
		margin: auto;
		width: 100%;
//		max-width: 750px;
		margin-bottom: 15px;
	}
	.view-site {
		color: #fff;
		text-align: center;
		padding: 5px 10px;
		background-color: $gs-green;
	}
	p {
		padding: 50px 30px;
	}
}

//============================================
//								FOOTER
//============================================

footer {
	bottom: 0;
	display: block;
	width: 100%;
	color: $gs-green;
	margin-top: 30px;
	padding: 15px;
	text-align: center;
	position: relative;
	background-color: $gs-blue;
	border-top: 3px solid $gs-green;
}

.absolute footer{
	width: 100%;
	position: absolute;
	@media screen and (max-width: 768px){
		position: relative;
	}
}

