<!DOCTYPE html>
<html lang="en" ng-app="gShark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0F4556">
    <title>Graphic Shark | HOME</title>
    <link rel=”shortcut icon” href=”/favicon.ico” type=”image/x-icon” />
    <link type="text/css" rel="stylesheet" href="css/normalize.css">
    <link type="text/css"	rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/gs-styles.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/gsapp.js"></script>
  </head>
  <body>
    <header>
      <nav class="index-nav">
          <div class="navbar">
              <a href="index.html" class="hidden-xs"><img class="logo" alt="Graphic Shark Logo" src="img/navbar-Logo.svg"></a>
              <button type="button" class="navbar-toggle || collapsed || visible-xs" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                 <img class="logo" alt="Graphic Shark Logo" src="img/navbar-Logo.svg">
             </button>
            <div class="triangle"></div>
          </div>
          <div id="navbar" class="navbar-collapse || visible-xs || collapse" aria-expanded="false" style="height: 1px;">
           <ul class="nav navbar-nav">
             <li><a href="index.html">HOME</a></li>
             <li><a href="index.html#portfolio">WORK</a></li>
             <li><a href="about.html">ABOUT</a></li>
             <li><a href="resume.html">RESUME</a></li>
           </ul>
         </div>
          <ul class="nav-links">
            <li><a href="index.html">HOME</a></li>
            <li><a href="index.html#portfolio">WORK</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="resume.html">RESUME</a></li>
        </ul>
      </nav>
      <svg version="1.1" id="GS_Medal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1467 317" style="enable-background:new 0 0 1467 317;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:none;stroke:#D0DABC;stroke-width:2;stroke-miterlimit:10;}
          .st1{fill:#D0DABC;}
          .st2{fill:none;stroke:#D0DABC;stroke-miterlimit:10;}
          .st3{fill:none;stroke:#D0DABC;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:7.9183,7.9183;}
        </style>
        <polygon id="GSM-Background" points="999.1,158.2 865.6,291.7 600.4,291.7 466.9,158.2 604.8,20.3 861.5,20.6 "/>
        <polygon id="GSM-Border" class="st0" points="999.1,158.2 865.6,291.7 600.4,291.7 466.9,158.2 604.8,20.3 861.5,20.6 "/>
        <g id="GraphicShark-Text">
          <g id="SHARK">
            <polygon id="XMLID_221_" class="st1" points="668,175.6 668,195.6 646,195.6 646,175.6 638.4,175.6 638.4,212.1 646,212.1
              646,203.2 668.1,203.2 668.1,223.1 675.7,223.1 675.6,175.6 		"/>
            <path id="XMLID_220_" class="st1" d="M566.9,179.3c-1.7,1.7-3.8,4.8-3.8,10v14l29.8-0.1v6.1c0,5.6-4.7,6.1-6.1,6.2l-16,0.1v-5.7
              H563v13.3l23.6-0.1c5.5,0,13.7-3.7,13.7-13.8v-13.8l-29.8,0.1v-6.4c0-2,0.5-3.5,1.5-4.5c1.6-1.6,4.3-1.6,4.3-1.6l16.5,0v6.2h7.6
              v-13.8h-23.9C575.6,175.6,570.6,175.7,566.9,179.3z"/>
            <path id="XMLID_217_" class="st1" d="M709.8,189.4v22.7h7.6v-8.9h22.5v20h7.6v-47.5h-23.6C718.2,175.6,709.8,179.3,709.8,189.4z
               M739.9,195.6h-22.5v-6.2c0-5.6,5-6.1,6.5-6.2h16V195.6z"/>
            <path id="XMLID_204_" class="st1" d="M792.4,223.1h7.6v-20h12.3v8.9h7.6v-9.4c7.2-1.8,9.9-8.5,9.9-13.3l0.3-13.8h-37.7V223.1z
               M800,183.2h22.3l-0.1,6.1l0,0.1c0,1-0.3,6.2-6.1,6.2h-16V183.2z"/>
            <path id="XMLID_203_" class="st1" d="M893,196v-9.4h-7.6v8.9h-12.3v-20h-7.6v47.6h7.6v-20h16c5.6,0,6.1,4.7,6.1,6.2v13.8h7.6
              v-13.8C903,204.5,900.2,197.8,893,196z"/>
          </g>
          <g id="GRAPHIC">
            <path id="XMLID_202_" class="st1" d="M602.8,128h-12.4v4.3h10.2v33H578c-9.9,0-10.2-9.2-10.2-10.3V95H578v-4.3h-12.3
              c-1.2,0-2.2,1-2.2,2.2v62.3c0,0.1,0,3.7,1.8,7.2c1.7,3.4,5.3,7.4,12.8,7.4h24.8c1.2,0,2.2-1,2.2-2.2v-37.4
              C605,129,604,128,602.8,128z"/>
            <path id="XMLID_199_" class="st1" d="M652,90.6h-36.8c-1.2,0-2.2,1-2.2,2.2v76.8h4.3v-37.3c3.8,0,11.9,0,20.3-0.2v10.5h4.3V132
              c9.6-1.2,12.2-9.7,12.2-14.3V92.8C654.2,91.6,653.2,90.6,652,90.6z M649.9,117.7c0,0.4-0.1,9.9-10.1,10.1
              c-9.1,0.2-18.3,0.2-22.4,0.2V95h32.5V117.7z"/>
            <path id="XMLID_196_" class="st1" d="M702.2,90.5h-24.9c-4.9,0.1-14.3,3.2-14.7,14.7c-0.4,12.4,0,37.2,0,37.5l4.3-0.1
              c0-0.1-0.1-4.4-0.1-10.3h33.2v37.3h4.3v-77C704.4,91.4,703.4,90.5,702.2,90.5z M666.8,128c0-7.7,0-16.7,0.2-22.7
              c0.3-10,9.4-10.5,10.4-10.5h22.7V128H666.8z"/>
            <path id="XMLID_193_" class="st1" d="M751.6,90.7h-24.9c-0.3,0-6.4,0-10.6,4.2c-2.6,2.5-3.9,6-3.9,10.3v64.3h4.3v-37.3l22.6,0
              c11.5,0,14.5-9.6,14.5-14.6V92.9C753.8,91.7,752.8,90.7,751.6,90.7z M749.4,117.7c0,0.4-0.1,10.3-10.2,10.3l-22.6,0v-22.7
              c0-9.9,9.1-10.2,10.2-10.2h22.7V117.7z"/>
            <polygon id="XMLID_183_" class="st1" points="799.1,128 766.2,128 766.2,90.7 761.8,90.7 761.8,142.6 766.2,142.6 766.2,132.3
              799.1,132.3 799.1,169.6 803.4,169.6 803.4,90.7 799.1,90.7 		"/>
            <path id="XMLID_182_" class="st1" d="M902.5,105.2V92.8c0-1.2-1-2.2-2.2-2.2h-36.7c-1.2,0-2.2,1-2.2,2.2v62.3
              c0,4.9,3,14.2,14.3,14.4c4,0.1,8.1,0.1,11.8,0.1c7.2,0,12.8-0.1,12.9-0.1l-0.1-4.3c-0.1,0-12.5,0.2-24.5,0
              c-9.7-0.2-10.1-9.1-10.1-10.1V95h32.4v10.2H902.5z"/>
            <path id="XMLID_181_" class="st1" d="M834.4,95h3.6v-4.3h-5.7h-18.4V95h16.2v70.4H826v4.3h5.7v-0.1c0.2,0,0.3,0.1,0.5,0.1h18.5
              v-4.3h-16.4V95z"/>
          </g>
        </g>
        <g id="Circles">
          <circle id="Right_Circle" class="st2" cx="975.8" cy="158.2" r="3.6"/>
          <circle id="Left_Circle" class="st2" cx="486.2" cy="158.2" r="3.6"/>
        </g>
        <g id="Border">
          <g id="Right_Border">
            <polyline id="BottomLine" class="st0" points="969.5,116.2 1011.5,158.2 863,306.7 		"/>
            <g id="Dashed_1_">
              <g>
                <line class="st0" x1="969.5" y1="116.2" x2="966.7" y2="113.4"/>
                <line class="st3" x1="961.1" y1="107.8" x2="907.9" y2="54.6"/>
                <line class="st0" x1="905.1" y1="51.8" x2="902.3" y2="48.9"/>
              </g>
            </g>
          </g>
          <g id="LeftBorder">
            <polyline id="TopLine" class="st0" points="498,200 456,158 604.6,9.5 		"/>
            <g id="Dashed">
              <g>
                <line class="st0" x1="498" y1="200" x2="500.8" y2="202.8"/>
                <line class="st3" x1="506.4" y1="208.4" x2="559.6" y2="261.6"/>
                <line class="st0" x1="562.4" y1="264.4" x2="565.2" y2="267.3"/>
              </g>
            </g>
          </g>
        </g>
        <g id="Left_Line">
          <line id="TopBar" class="st0" x1="0.1" y1="158.2" x2="414.5" y2="158.2"/>
          <line id="ShortBar" class="st0" x1="0.1" y1="167" x2="127.3" y2="167"/>
          <line id="Dash" class="st0" x1="136.9" y1="167" x2="146.1" y2="167"/>
        </g>
        <g id="RightLine">
          <line id="TopBar_1_" class="st0" x1="1466.5" y1="158" x2="1052.1" y2="158"/>
          <line id="ShortBar_1_" class="st0" x1="1466.5" y1="149.2" x2="1339.3" y2="149.2"/>
          <line id="Dash_1_" class="st0" x1="1329.7" y1="149.2" x2="1320.5" y2="149.2"/>
        </g>
      </svg>
      <img class="header-background" src="img/OceanBackground-03.jpeg" alt=" ">
    </header>
    <main>
      <div id="portfolio" class="container">
        <div class="row">
          <div class="col-xs-12 || col-sm-12 || col-md-12">
            <h1>Portfolio Work</h1>
            <hr>

            <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header">
                  <h3 class="modal-title" id="modal-title">Headline 01</h3>
                  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
              </div>
              <div class="modal-body" id="modal-body">
                <img src="img/work/ranlife/ranlifeThumbnail.jpg">
              </div>
              <div class="modal-footer">
              </div>
          </script>

            <div  ng-controller="ModalDemoCtrl as $ctrl" ng-cloak>
              <div class="col-xs-12 || col-sm-4 || col-md-3" ng-repeat="work in $ctrl.works">
                <a href="" class="work-item" ng-click="$ctrl.open('lg', work)">
                  <div class="frame">
                    <img class="img-responsive" src="{{work.img}}" alt="">
                  </div>
                  <h3>{{work.header}}</h3>
                  <p>{{work.body}}</p>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>
    <footer ng-include="'footer.html'"></footer>
    <script src="js/SmoothScrolling.js"></script>
  </body>
</html>
