<div class="circle-top">
    <svg class="circle-svg" width="82.93" height="165.79" viewBox="0 0 82.93 163.58">
        <g class="cls-1">
            <path class="circle-item" d="M11.63,167.55A432.19,432.19,0,0,1,83.34,11.65" transform="translate(-0.81 -11.36)" />
            <path class="circle-item" d="M1.3,165.48a430.71,430.71,0,0,1,20.86-65L6.94,94.63" transform="translate(-0.81 -11.36)" />
            <circle class="circle-item" cx="4.23" cy="161.39" r="1.69" />
        </g>
    </svg>
    <svg class="circle-svg" width="75.83" height="165.79" viewBox="0 0 75.83 165.79">

        <g class="cls-1">
            <path class="circle-item" d="M4.56,11.65a432.19,432.19,0,0,1,71.71,155.9" transform="translate(-0.93 -1.88)" />
            <path class="circle-item" d="M12.74,5.75l2.05,2.84" transform="translate(-0.93 -1.88)" />
            <path class="circle-item dashed" d="M19.2,14.85A433.91,433.91,0,0,1,48.64,64.1" transform="translate(-0.93 -1.88)" />
            <path class="circle-item" d="M50.37,67.52q0.78,1.56,1.55,3.14" transform="translate(-0.93 -1.88)" />
            <circle class="circle-item" cx="2.19" cy="2.19" r="1.69" />
        </g>
    </svg>
</div>
<div class="circle-bottom">
    <svg class="circle-svg" width="74.14" height="150.34" viewBox="0 0 74.14 150.34">
        <g class="cls-1">
            <path class="circle-itemM64,145.79L61.84,143" transform="translate(0.3 -0.2)" />
            <path class="circle-item dashed" d="M57.29,136.85A434,434,0,0,1,26.7,88.29" transform="translate(0.3 -0.2)" />
            <path class="circle-item" d="M24.89,84.91q-0.82-1.55-1.63-3.1" transform="translate(0.3 -0.2)" />
            <path class="circle-item" d="M71.23,142.16A432.68,432.68,0,0,1,.18.34" transform="translate(0.3 -0.2)" />
            <circle class="circle-item" cx="71.95" cy="148.15" r="1.69" />
        </g>
    </svg>
    <svg class="circle-svg" width="81.54" height="151.86" viewBox="0 0 81.54 151.86">
        <g class="cls-1">
            <path class="circle-item" d="M72.41,8.43A432.63,432.63,0,0,1,.47,152.93" transform="translate(-0.07 -1.38)" />
            <path class="circle-item" d="M81.13,8.43A431,431,0,0,1,55.94,75.86l12.59,4.82" transform="translate(-0.07 -1.38)" />
            <circle class="circle-item" cx="77.58" cy="2.19" r="1.69" />
        </g>
    </svg>
</div>