<header class="site-header">

    <div class="wrapper">

        <!--    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->

        <nav class="site-nav">
            <a href="#" class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </a>

            <div class="trigger">
                <a class="page-link" href="{{ site.baseurl }}/about/">
                    <svg viewBox="0 0 97.1 105.2">
                        <polygon class="p-gram" points="0.7,104.6 96.4,104.8 65,0.4 33.7,0.4 " />
                    </svg>
                    <span>About</span>
                </a>
                <a class="page-link" href="{{ site.baseurl }}/about/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.4 103.2">
                        <polygon class="p-gram" points="96.9,102.2 1,102.2 34.5,1 66,1.1 "></polygon>
                    </svg>
                    <span>About</span>
                </a>
                <a class="page-link" href="{{ site.baseurl }}/about/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.4 103.2">
                        <polygon class="p-gram" points="98.5,105.2 0.5,102.2 33.7,1 64,1.1 "></polygon>
                    </svg>
                    <span>About</span>
                </a>
                <a class="page-link" href="{{ site.baseurl }}/about/">
                    <svg viewBox="0 0 97.1 105.2">
                        <polygon class="p-gram" points="0.7,104.6 94.8,104.8 64,0.4 33.7,0.4 "></polygon>
                    </svg>
                    <span>About</span>
                </a>
                <a class="page-link" href="{{ site.baseurl }}/">
                    <svg viewBox="0 0 97.1 105.2">
                        <polygon class="p-gram" points="7.6,107.2 89.3,107.2 92.5,98.4 59.6,0 39.6,0 4.6,98.2 "></polygon>
                    </svg>
                    <span> {{ site.title }} </span>
                </a>
            </div>
        </nav>
        <div class="nav-bottom-bar">
            <div class="small-bars">
                <span class="small-bar"></span>
                <span class="small-bar"></span>

            </div>
            <div class="long-bars">
                <span class="long-bar"></span>
                <span class="long-bar"></span>
            </div>
        </div>

    </div>

</header>