body, html{
    height: 100%;
    width:100%;
}
.home, .main-header{
    min-height: 100%;
}
/**
 * Site header
 */

.site-header {
    min-height: 43px;
    background-color: $dark-blue;
    // Positioning context for the mobile navigation icon
    position: fixed;
    width: 100%;
    z-index: 5000;
}
.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}
.site-nav {
    line-height: 56px;
    .page-link {
        color: $text-color;
        line-height: $base-line-height;
    }
    .menu-icon {
        display: block;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
        background-color: $sea-foam;
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -18px;
        &:before,
        &:after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
        }
        &:before {
            border-width: 16px 24px 0 24px;
            border-color: $dark-blue transparent transparent transparent;
            left: 50%;
            margin-left: -24px;
            top: calc(100% + 1px);
        }
        &:after {
            border-width: 12px 18px 0 18px;
            border-color: $sea-foam transparent transparent transparent;
            left: 0;
            top: 100%;
        }
        > span {
            background-color: $dark-blue;
            display: block;
            margin: 0 auto 5px;
            width: 26px;
            height: 3px;
            transition: all 0.3s ease;
            position: relative;
            top: 0;
            right: 0;
        }
    }
    &.open {
        .menu-icon {
            > span {
                transition: all 0.3s ease;
                &:first-child {
                    transform: rotate(45deg);
                    top: 8px;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    transform: rotate(-45deg);
                    top: -8px;
                }
            }
        }
    }
    .trigger {
        clear: both;
        visibility: hidden;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%) scale(0.1);
        display: block;
        width: 320px;
        transition: all 0.3s ease;
        z-index: -1;
        .page-link {
            position: absolute;
            height: 111px;
            width: 117px;
            left: 50%;
            margin-left: -58px;
            .p-gram {
                fill: $sea-foam;
            }
            span {
                display: inline-block;
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
            }
            &:last-child {
                z-index: 3000;
                overflow: visible;
                top: 23px;
            }
        }
    }
    &.open .trigger {
        visibility: visible;
        top: 80px;
        padding-bottom: 5px;
        transform: translateX(-50%) scale(1);
        .page-link {
            transition: all 0.3s linear;
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
            &:nth-child(1) {
                animation-name: moveEnd-left;
                animation-duration: 0.4s;
            }
            &:nth-child(2) {
                animation-name: moveSide-left;
                animation-duration: 0.3s;
            }
            &:nth-child(3) {
                animation-name: moveSide-right;
                animation-duration: 0.3s;
            }
            &:nth-child(4) {
                animation-name: moveEnd-right;
                animation-duration: 0.4s;
            }
        }
    }
    &.close .trigger{
        transform:translate(-50%) scale(0.1);
        .page-link{
            animation-direction: reverse;
        }
    }
}
.nav-bottom-bar {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    span {
        display: block;
        height: 1px;
    }
    .long-bar {
        height: 1px;
        width: calc(50% - 36px);
        background-color: $sea-foam;
        &:last-child {
            float: right;
        }
    }
    .small-bars {
        width: 82px;
        position: absolute;
        left: 50%;
        margin-left: -41px;
        top: 13px;
    }
    .small-bar {
        width: 45px;
        background-color: $sea-foam;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            background-color: $sea-foam;
            height: 1px;
            width: 30px;
            top: -7px;
        }
        &:first-child {
            transform: rotate(35deg);
            &:before {
                right: 5px;
            }
        }
        &:last-child {
            transform: rotate(-35deg);
            float: right;
            &:before {
                   left: 5px;
                    top: -8px;
            }
        }
    }
}

/**
 * Site footer
 */

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}
.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}
.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}
.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}
.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}
.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}
.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}
.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}
@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}
@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */

.page-content {
    padding: 50px 0 $spacing-unit;
}
.page-heading {
    font-size: 20px;
}
.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
    }
}
.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}
.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */

.post-header {
    margin-bottom: $spacing-unit;
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
@keyframes moveEnd-right {
    0% {
        top: 0;
        left: 50%;
        margin-left: -58px;
    }
    50% {
        left: 140px;
        top: -1px;
        margin-left: 0;
        transform: rotate(-37deg);
    }
    100% {
        left: 203px;
        top: -58px;
        margin-left: 0;
        transform: rotate(-73deg);
    }
}
@keyframes moveEnd-left {
    0% {
        top: 0;
        left: 50%;
        margin-left: -58px;
    }
    50% {
        left: 40px;
        top: -1px;
        margin-left: 0;
        transform: rotate(37deg);
    }
    100% {
        top: -58px;
        left: 0;
        margin-left: 0;
        transform: rotate(72deg);
    }
}
@keyframes moveSide-left {
    from {
        top: 0;
        left: 50%;
        margin-left: -58px;
    }
    to {
        left: 40px;
        top: -1px;
        margin-left: 0;
        transform: rotate(37deg);
    }
}
@keyframes moveSide-right {
    from {
        top: 0;
        left: 50%;
        margin-left: -58px;
    }
    to {
        left: 163px;
        margin-left: 0;
        top: -1px;
        transform: rotate(-37deg);
    }
}